[build]
builder = "nixpacks"

[deploy]
startCommand = "python manage.py migrate && python manage.py create_initial_user && gunicorn jaytipargal.wsgi:application"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
